@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./css/bootstrap.icon-extra.min.css");

#root {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.hidden{
  display: none;
}
.clear{
  clear: both;
}

table th,td{
  text-align: center;
}

.header{
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width:415px){
  
}

/* Bootstrap Checkbox Styles */
.fancy-checkbox {
    display: none;
}

.fancy-checkbox + .btn-group > label span {
    width: 20px;
}

.fancy-checkbox + .btn-group > label span:first-child {
    display: none;
}
.fancy-checkbox + .btn-group > label span:last-child {
    display: inline-block;   
}

.fancy-checkbox:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.fancy-checkbox:checked + .btn-group > label span:last-child {
    display: none;   
}
/* Bootstrap Checkbox Styles */

@keyframes msgflash{ 0% { opacity: 1; } 50% { opacity:0.1; } 100% { opacity:1; } }
@-webkit-keyframes msgflash{ 0% { opacity: 1; } 50% { opacity:0.1; } 100% { opacity:1; } }
.flashRow{
    animation-name: msgflash; -webkit-animation-name: msgflash;
    animation-iteration-count: 3; -webkit-animation-iteration-count: 3;
    animation-direction: alternate; -webkit-animation-direction:alternate;
    animation-delay: 0.1s; -webkit-animation-delay: 0.1s;
    animation-duration: 0.35s; -webkit-animation-duration: 0.35s;
}

/* listItem */
.listItem{
  margin: .5em;
  padding: .3em .5em .3em 0;
  border-radius: 4px;
  height: 40px;
  text-align: left;
}
.listItem:hover{left: .1em;}

.listItem .badge-left{
    display: inline-block;
    font-size: small;
    color: white;
    background-color: rgb(96, 125, 139);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 100%;
    margin-right: 0.8em;
    padding: 0.8em 0.7em 0px;
    border-radius: 4px 0px 0px 4px;
    height: 38px;
}

/* rounded-list */